*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.nav-container {
    position: fixed;
    z-index: 2;
}

.lottie{
    height: 500px;
    margin: 20px 0;
}