*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
}

.nav-container {
    position: fixed;
    z-index: 2;
}

.graph-container {
    margin-right: 50px;
    width: 550px;
    height: 550px;
}

@media (max-width: 767px) {
    .graph-container {
        width: 45vh;
        height: 45vh;
    }

    .stack-left-container {
        margin-top: -30px
    }

    .right-container {
        margin-top: -100px
    }
}

.right-container {
    height: 90vh;
}

.fade-in {
    opacity: 1;
    transition: opacity 1.0s ease-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}