*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

body {
    background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
}

.nav-container {
    position: fixed;
    z-index: 2;
}

.graph-container {
    margin-right: 50px;
    width: 550px;
    height: 550px;
}

@media (max-width: 767px) {
    .graph-container {
        width: 45vh;
        height: 45vh;
    }

    .stack-left-container {
        margin-top: -30px
    }

    .right-container {
        margin-top: -100px
    }
}

.right-container {
    height: 100vh;
    
}

.github-name, .nav-icon, .start-btn{
    color: white;
}

.start-btn{
    border: 1px solid white;
}

.visualization-type label, .visualization-type-weapon label{
    list-style: none;
    border: 1px solid white;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    color: white;

}

.visualization-type, .visualization-type-weapon{
    margin: 10px auto;
    text-align: center;
}

.visualization-type label input, .visualization-type-weapon label input{
    display: none;
}

.visualization-output, .visualization-output-weapon{
    margin-top: 10px;
    padding: 0;
}

.fade-in {
    opacity: 1;
    transition: opacity 1.0s ease-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.main-title-map, .main-title-weapon{
    display: block;
    text-align: center;
    margin: 60px auto 20px auto;
}

.atom-container, .weapon-container{
    margin: 0 auto;
    min-height: 100vh;
}